@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

* {
  color: #000;
  line-height: 1;
  font-family: "Ubuntu";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Ubuntu";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body > * {
  min-width: 0;
}
[class*=" container"] {
  max-width: 1750px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 10px;
}

.reviews__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 1279px) {
  .reviews__title {
    font-size: 24px;
  }
}
.reviews__navigation {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .reviews__navigation {
    column-gap: 5px;
  }
}
.reviews__button {
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px 20px;
  max-width: 300px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .reviews__button {
    font-size: 18px;
    padding: 10px 10px;
  }
}
.reviews__button.--tab-active {
  color: white;
  background-color: #000;
}
.reviews-item__link {
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
.reviews-item__link::after {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: min(15vw, 100px);
  height: min(15vw, 100px);
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("https://prev.lasercut.ru/landing/img/play-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (any-hover: hover) {
  .reviews-item__link:hover .reviews-item__img {
    transform: scale(1.07);
  }
  .reviews-item__link:hover::after {
    background-color: rgb(255, 255, 255);
  }
}
.reviews-item__img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease 0s;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.reviews .swiper {
  max-width: 1200px;
  padding: 0 50px;
  --swiper-navigation-sides-offset: 0px;
  --swiper-theme-color: #ffffff;
  --swiper-navigation-size: 16px !important;
  --swiper-navigation-top-offset: 45%;
  --swiper-pagination-color: #f34841;
}
.reviews .swiper-pagination {
  position: static;
  padding-top: 20px;
}
.reviews .swiper-pagination-bullet {
  margin-right: 20px;
  border-radius: 50%;
}
@media (max-width: 479px) {
  .reviews .swiper-pagination-bullet {
    margin-right: 8px;
  }
}
.reviews .swiper-button-prev, .reviews .swiper-button-next {
  padding: 23px;
  background-color: rgba(138, 138, 138, 0.67) !important;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .reviews .swiper-button-prev:hover, .reviews .swiper-button-next:hover {
    background-color: #f34841 !important;
  }
}

/*# sourceMappingURL=style.css.map */
