@import "null.scss";
@import "params.scss";


.reviews {


  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;

    @media (max-width: 1279px) {
      font-size: 24px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      column-gap: 5px;
    }
  }

  &__button {
    font-size: 20px;
    border: 1px solid #000;
    padding: 10px 20px;
    max-width: 300px;
    border-radius: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      padding: 10px 10px;
    }

    &.--tab-active {
      color: white;
      background-color: #000;
    }
  }

  &-item {

    &__link {
      display: block;
      border-radius: 20px;
      overflow: hidden;

      &::after {
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: min(15vw, 100px);
        height: min(15vw, 100px);
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url("https://prev.lasercut.ru/landing/img/play-icon.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      @media (any-hover: hover) {
        &:hover {
          .reviews-item__img {
            transform: scale(1.07);
          }

          &::after {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    &__img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease 0s;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }

  .swiper {
    max-width: 1200px;
    padding: 0 50px;

    --swiper-navigation-sides-offset: 0px;
    --swiper-theme-color: #ffffff;
    --swiper-navigation-size: 16px !important;
    --swiper-navigation-top-offset: 45%;
    --swiper-pagination-color: #f34841;

    &-pagination {
      position: static;
      padding-top: 20px;

      &-bullet {
        margin-right: 20px;
        border-radius: 50%;

        @media (max-width: 479px) {
          margin-right: 8px;
        }
      }
    }

    &-button-prev, &-button-next {
      padding: 23px;
      background-color: rgba(138, 138, 138, 0.67) !important;
      border-radius: 50%;
      transition: background-color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          background-color: #f34841 !important;
        }
      }
    }
  }
}